<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brains.app.shopclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET" />  
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:name=".ShoppingApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/applicationTheme" >
        
        <!-- 应用初始化 -->
        <activity android:name=".activities.InstallAppActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 引导画面 -->
        <activity android:name=".activities.GuideActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_GUIDE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 主画面 -->
        <activity android:name=".activities.MainActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- 首页画面 -->
        <activity android:name=".activities.HomeActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<!-- 品类画面 -->
        <activity android:name=".activities.CategoryActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_CATEGORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<!-- 品牌画面 -->
        <activity android:name=".activities.BrandActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_BRAND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
   		<!-- 购物车画面 -->
        <activity android:name=".activities.CartActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_CART" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
   		<!-- 我的画面 -->
        <activity android:name=".activities.MyActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_MY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity android:name=".activities.TabMainActivity" android:screenOrientation="portrait" android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_TABMAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 登录画面 -->
        <activity android:name=".activities.LoginActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_LOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<!-- 二级品类画面 -->
        <activity android:name=".activities.SubCategoryActivity" android:screenOrientation="portrait" android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_SUBCATEGORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 商品查询画面 -->
        <activity android:name=".activities.SearchActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 关于画面 -->
        <activity android:name=".activities.AboutActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 商品详细画面 -->
        <activity android:name=".activities.ProductDetailActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_ITEM_DETAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 商品详细画面 -->
        <activity android:name=".activities.NewOderActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_NEWORDER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- 收件人信息编辑画面 -->
        <activity android:name=".activities.ReceiverEditActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_RECEIVER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
