<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brains.app.shopclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/applicationTheme" >
        
        <!-- 应用初始化 -->
        <activity android:name=".activities.InstallAppActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 引导画面 -->
        <activity android:name=".activities.GuideActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_GUIDE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 主画面 -->
        <activity android:name=".activities.MainActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- 首页画面 -->
        <activity android:name=".activities.HomeActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<!-- 品类画面 -->
        <activity android:name=".activities.CategoryActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_CATEGORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<!-- 品牌画面 -->
        <activity android:name=".activities.BrandActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_BRAND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
   		<!-- 购物车画面 -->
        <activity android:name=".activities.CartActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_CART" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
   		<!-- 我的画面 -->
        <activity android:name=".activities.MyActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_MY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity android:name=".activities.TabMainActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_TABMAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 登录画面 -->
        <activity android:name=".activities.LoginActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="brains.intent.action.ACTION_LOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
